output_folder           OPT_67/profile-16-cudnn-PF
is_profiling            1
is_individual           0
is_cudnn                1
is_UVM                  1
is_input_pf_only        0

is_transformer          1
trans_borden            184
is_senet                1
batch_size              16
input_H                 224
input_W                 224

nn_model_input_file     ../frontend/Nets/OPT_6.7.txt
