output_folder           ../../results/torchtitan_1_70b_16_4k_1ubs
is_simulation           1


stat_output_file        sim_result

use_prefetch            1
algo_speedup            20

migration_policy        G10GDSSSD


GPU_memory_size_GB      78
GPU_frequency_GHz       1.2
GPU_PCIe_bandwidth_GBps 64
GPU_malloc_uspB         0.000000814
GPU_free_uspB           0

SSD_PCIe_bandwidth_GBps 16
SSD_read_latency_us     12
SSD_write_latency_us    16
SSD_latency_us          20


CPU_PCIe_bandwidth_GBps 64
CPU_memory_line_GB      0


PCIe_latency_us         5

delta_parameter         0.5