output_folder           ../results/OPT_1.3/4-analysis
is_simulation             1

batch_size                4
seq_len                   128

nn_model_input_file       ../frontend/Nets/OPT_1.3.txt
orig_kernel_time_file     ../results/OPT_1.3/cudnn4.txt
workspace_size_file       ../results/OPT_1.3/cudnn4Workspace.txt
stat_output_file          sim_result

GPU_memory_size_GB        40
GPU_frequency_GHz         1.2

          
          
          